<script>$(function(){mixpanel.track("Landing Page Loaded");});</script>

<div class="row-fluid">

  <div class="span12">

    <div class="alt-hero masthead">

      <div class="row-fluid">

        <div id="hero-headline">

          <h1>Still sending specs as big email attachments?</h1>

        </div>        

        <div class="span2 signup-intro"></div>

        <div class="span8 signup-intro">

          <div class="span7 invite-request-cta">
            <h3>JetDeck turns your specs into links that can be tracked in real time.</h3>
          </div>

          <div class="span4 invite-request-cta"  style="padding-top: 5px">
            <a class="btn" id="invite-cta"> Get an Invite! </a>
            <br>
            <div class="clearfix" style="height: 5px;"></div>
            <span style="color: #ddd">Or</span> <a style="clear: both;" href="/features">  See All Features  <i class=" icon-play-circle"></i></a>
          </div>
        </div> 

      </div> 

      <div class="row-fluid hide signup-form">

        <div class="span2"></div>

        <div class="span8">

          <div id="invite-submit-input" class="span9">
            <input type="text" name="email" placeholder="Email" 
              class="span12" id="email" <% if @user && @user.email %>value="<%= @user.email %>"<% end %> />
            <div class="hide" id="send-error" style="margin-top: 5px; text-align: right"></div>
          </div>

          <button id="invite-submit" class="btn btn-primary span3" 
          onclick="return false" data-loading-text="Submitting...">Submit</button>

        </div>

      </div>	

      <div class="signup-survey hide">

        <div class="span1"></div>
        <div class="span10"><h3>Now that you're in line to try JetDeck, which feature are you most interested in? </h3></div>

        <div class="clearfix"></div><br><br>

        <div class="span2"></div>
        <div class="span8">

          <div class="row">

            <button class="btn btn-primary span4" style="text-shadow: none; font-weight: bold; font-size: 14px; margin-left: -15px; line-height: 25px" onclick="return false">
              Customer Activity Data Plots</button>

              <button class="btn btn-primary span4" style="text-shadow: none; font-weight: bold; font-size: 14px; line-height: 25px" onclick="return false">
                A CRM for Aircraft Brokerage</button>

                <button class="btn btn-primary span4" style="text-shadow: none; font-weight: bold; font-size: 14px; line-height: 25px" onclick="return false">
                  Specs Formatted for Mobile</button>

                </div>
              </div> 

            </div>  

<script></script>

            <div class="signup-confirmation hide">
              <div class="span2"></div>
              <div class="span8">        
                <h3>We'll let you know as soon as space is available in the trial. If you would like more information, <a href="mailto:customer.support@jetdeck.co"><i class="icon-envelope-alt"></i> <strong>drop us a line</strong></a> and we'll promptly respond. </h3>
                </div>
              </div>  

            </div>	<!-- alt-hero masthead -->

          </div>  <!-- span12 -->

        </div> <!-- row fluid -->

        <div style="height: 275px">&nbsp;</div>

        
        <div class="row-fluid">
          <div class="span2"></div>
          <div class="span8">

            <div class="screenshot"> 
              <img src="<%= asset_path "index_hero_shot.png" %>" style="position:absolute;">
            </div>


          </div>
        </div>

        <!-- 
        <div class="screenshot"> 
          <img src="<%= asset_path "rotator/browser.png" %>" id="browser-chrome" style="position:absolute;">
          <img src="<%= asset_path "rotator/retail.png" %>" class="rotate">
          <img src="<%= asset_path "rotator/shadow.png" %>" style="position:absolute;">
        </div>
      -->

      <!-- image preloaders -->
      <img class='hide' src='<%= asset_path "rotator/spec.png" %>'/>
      <img class='hide' src='<%= asset_path "rotator/deck.png" %>'/>
      <img class='hide' src='<%= asset_path "rotator/retail.png" %>'/>
      <img class='hide' src='<%= asset_path "rotator/stats.png" %>'/>

</div></div>

<div></div>
<div style="height: 180px">&nbsp;</div>